/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/style.scss */
header {
  background-color: #6400aa;
  height: 70px;
  line-height: 70px;
  padding-left: 50px;
}
/* line 16, ../sass/style.scss */
header h1 {
  font-size: 25px;
  color: white;
}

/* line 22, ../sass/style.scss */
.sectionForAddTab {
  background-color: #640096;
  height: 50px;
  line-height: 50px;
  padding: 5px 0px 5px 50px;
}

/* line 29, ../sass/style.scss */
.tabs {
  height: 30px;
  padding: 20px 0px 0px 50px;
  overflow: hidden;
  z-index: 50;
  position: relative;
}
@media (max-width: 1079px) {
  /* line 29, ../sass/style.scss */
  .tabs {
    height: auto;
    background-color: #46008c;
  }
}
/* line 39, ../sass/style.scss */
.tabs .tab {
  display: inline-block;
  float: left;
  height: 30px;
  margin-right: 10px;
  text-align-last: center;
  text-align: center;
  line-height: 30px;
  width: 150px;
  cursor: pointer;
  border-radius: 8px 8px 0 0;
  border: 1px solid #646464;
  background-color: #646464;
}
@media (max-width: 1079px) {
  /* line 39, ../sass/style.scss */
  .tabs .tab {
    border-radius: 8px;
    margin: 10px;
  }
}
/* line 56, ../sass/style.scss */
.tabs .tab .city {
  display: inline-block;
  float: left;
  padding: 0 5px;
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 65, ../sass/style.scss */
.tabs .tab img {
  display: inline-block;
  float: left;
  margin: 8px 0 0 5px;
}
/* line 70, ../sass/style.scss */
.tabs .tab:hover {
  background-color: rgba(150, 150, 150, 0.7);
}
/* line 74, ../sass/style.scss */
.tabs .currentTab {
  background-color: rgba(150, 150, 150, 0.7);
}
/* line 77, ../sass/style.scss */
.tabs .removeTab {
  background-color: white;
  display: inline-block;
  float: right;
  height: 16px;
  width: 16px;
  line-height: 15px;
  cursor: pointer;
  border-radius: 50%;
}
/* line 86, ../sass/style.scss */
.tabs .removeTab:hover {
  background-color: red;
}

/* line 91, ../sass/style.scss */
.tabs:after {
  clear: both;
}

/* line 94, ../sass/style.scss */
.bgWeather {
  height: 500px;
  position: relative;
  top: -50px;
  padding-top: 50px;
  width: 100%;
  z-index: 40;
}
@media (max-width: 1079px) {
  /* line 94, ../sass/style.scss */
  .bgWeather {
    top: 0px;
    height: 0px;
    padding-top: 0px;
  }
}
/* line 106, ../sass/style.scss */
.bgWeather .weatherView {
  background-color: rgba(150, 150, 150, 0.7);
  min-height: 400px;
  margin: 0 50px;
  box-sizing: border-box;
  width: auto;
  line-height: 70px;
  padding: 10px 0px 10px 50px;
}
@media (max-width: 1079px) {
  /* line 106, ../sass/style.scss */
  .bgWeather .weatherView {
    margin: 0px;
  }
}
/* line 113, ../sass/style.scss */
.bgWeather .weatherView p {
  margin: 0px;
  line-height: 1;
}
/* line 117, ../sass/style.scss */
.bgWeather .weatherView img {
  float: left;
}
/* line 120, ../sass/style.scss */
.bgWeather .weatherView div {
  overflow: hidden;
}
