/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$bgTabSelect: rgba(150,150,150,0.7);
$minWidthDesk: 1079px;

header{
	background-color: rgb(100,0,170);
	height: 70px;
	line-height: 70px;
	padding-left: 50px;
	h1{
		font-size: 25px;;
		color: white;
	}
}

.sectionForAddTab{
	background-color: rgb(100,0,150);
	height: 50px;
	line-height: 50px;
	padding: 5px 0px 5px 50px;
}

.tabs{
	height: 30px;
	@media (max-width: $minWidthDesk) {
		height: auto;
		background-color: rgb(70,0,140);
	}
	padding: 20px 0px 0px 50px;
	overflow: hidden;
	z-index: 50;
	position: relative;
	.tab{
		display: inline-block;
		float: left;
		height: 30px;
		margin-right: 10px;
		text-align-last: center;
		text-align: center;
		line-height: 30px;
		width: 150px;
		cursor: pointer;
		border-radius: 8px 8px 0 0;
		@media (max-width: $minWidthDesk) {
			border-radius: 8px;
			margin: 10px;
		}
		border: 1px solid rgb(100,100,100);
		background-color: rgb(100,100,100);
		.city{
			display: inline-block;
			float: left;
			padding: 0 5px;
			max-width: 100px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		img{
			display: inline-block;
			float: left;
			margin: 8px 0 0 5px;
		}
		&:hover{
			background-color: $bgTabSelect;
		}
	}
	.currentTab{
		background-color: $bgTabSelect;
	}
	.removeTab{
		background-color: rgb(255,255,255);
		display: inline-block;
		float: right;
		height: 16px;
		width: 16px;
		line-height: 15px;
		cursor: pointer;
		border-radius: 50%;
		&:hover{
			background-color: rgb(255,0,0);
		}
	}
}
.tabs:after{
	clear: both;
}
.bgWeather{
	height: 500px;
	position: relative;
	top: -50px;
	padding-top: 50px;
	@media (max-width: $minWidthDesk) {
		top: 0px;
		height: 0px;
		padding-top: 0px;
	}
	width: 100%;
	z-index: 40;
	.weatherView{
		background-color: $bgTabSelect;
		min-height: 400px;
		margin: 0 50px;
		@media (max-width: $minWidthDesk) {
			margin: 0px;
		} 
		h2{
			font-size: 25px;
		}
		p{
			margin: 0px;
			line-height: 1;
		}
		img{
			float: left;
			margin-right: 10px;
		}
		@media (min-width: 451px) {
			.temperature{
				overflow: hidden;
				width: 200px;
				margin: 20px 20px 50px 0;
				float: left;
				p{
					margin-top: 10px;
				}
			}
		}
		@media (min-width: 451px) {
			.wind{
				margin-right: 50px;
				float: right;
			}
		}
		@media (max-width: 450px) {
			.wind, .temperature{
			margin: 50px 0;
			text-align-last: center;
			}
		} 
		.wind p{
			margin-bottom: 30px;
		}
		box-sizing: border-box;
		width: auto;
		line-height: 70px;
		padding: 10px 0px 10px 50px;
	}
}